<div class="container-fluid">
    <div class="mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        <form method="post" action="/admin/nouvel/article">
                            <button type="submit" class="btn btn-info">Nouveau</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Titre</th>
                    <th scope="col">#</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Sous-categorie</th>
                    <th scope="col">Voir</th>
                    <th scope="col">Effacer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td style="width: 20%;">
                        <img style="width: 20%;" src="/img/article/essai.jpg">
                    </td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>
                        <form method="post" action="/admin/article">
                            <button type="submit" class="btn btn-info">Voir</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/admin/effacer/article">
                            <button type="submit" class="btn btn-danger">Effacer</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>