<div class="container-fluid">
    <div class="mt-4 card w-50">
        <div class="card-body">
            <form method="post" action="/admin/creer/article">
                <div class="form-group">
                    <label>Auteur</label>
                    <select class="form-control" name="listeAuteur">
                        <option th:each="v : ${listeAuteur}" th:value="${v.idauteur}" th:text="${v.nomauteur}" ></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sous-categorie</label>
                    <select class="form-control" name="listeSousCategorie">
                        <option th:each="v : ${listeSousCategorie}" th:value="${v.idsouscategorie}" th:text="${v.nomsouscategorie}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Titre</label>
                    <input name="titre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Contenue</label>
                    <input name="contenue" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input name="date" type="date" class="form-control">
                </div>
                <input type="submit" class="btn btn-success" value="OK">
            </form>
        </div>
    </div>
</div>