<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post post-thumb">
                    <a class="post-img" href="/article"><img src="/img/article/essai.jpg" alt="bla"></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="category.html"><strong>JavaScript</strong></a>
                            <span class="post-date"><strong>March 27, 2018</strong></span>
                        </div>
                        <h3 class="post-title"><a href="/article"><strong>Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</strong></a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><strong>Recent Posts</strong></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img" href="/article"><img src="/img/article/essai.jpg" alt="bla"></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-1" href="category.html"><strong>Web Design</strong></a>
                            <span class="post-date"><strong>March 27, 2018</strong></span>
                        </div>
                        <h3 class="post-title"><a href="/article"><strong>Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</strong></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2><strong>Most Read</strong></h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href="blog-post.html"><img src="/img/article/essai.jpg" alt="bla"></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html"><strong>JavaScript</strong></a>
                                    <span class="post-date"><strong>March 27, 2018</strong></span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html"><strong>Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</strong></a></h3>
                                <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="section-row">
                            <button class="primary-button center-block">Charger plus</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="aside-widget">
                    <div class="section-title">
                        <h2><strong>Catagories</strong></h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            <li><a href="sous-categorie/article" class="cat-1"><strong>Web Design</strong><span>340</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="aside-widget">
                    <div class="tags-widget">
                        <ul>
                            <li><a href="bla"><strong>Chrome</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>